.topbar {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #3E49D8;

  position: sticky;
  top: 0;
  z-index: 9999;

  padding: 0 100px;
}

.topbar-left,
.topbar-right {
  display: flex;
  align-items: center;
  gap: 75px;
}